.button-container {
    display: flex;
    align-items: center;
}

.button-container button {
    font: inherit;
    border: 1px solid #0e6efd;
    background: #0e6efd;
    border-radius: 6px;
    color: #ffe8fe;
    padding: 0.25rem 1rem;
    cursor: pointer;
    height: 2rem;
}

.button-container button:hover,
.button-container button:active {
    background: #0a58ca;
    border-color: #0a58ca;
}

.button-container button:focus {
    outline: none;
    background: #0a58ca;
    border-color: #0a58ca;
}